@model Settings
@{
    ViewData["Titel"] = "Настройки подключения";
}

<h1>Настройки подключения</h1>

<header>
    <nav>
        <a href="/connectionSettings/addDevice">Добавить устройство</a>
    </nav>
</header>

<form method="post" asp-controller="ConnectionSettings" asp-action="Check">
    <label asp-for="device"/>
    <input asp-for="Name" />
    <span asp-validation-for="Name"/>

    <input type="submit" value="Сохранить" />
</form>