@{
    ViewData["Title"] = "Главная";
}

<h1 class="text-center">Главная</h1>

<main>
    <h4 class="text-center">Приветствую тебя на сайте ModBusRTU!</h4>
    <label>Здесь ты можешь отладить общение с устройством по RS-485.</label>
    <div class="main-image">
        <img src="~/css/Resources/Modbus-Plant.jpg" />
    </div>
</main>